/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after, blockquote:before {
  content: '';
  content: none; }

q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

section {
  display: inline-block;
  float: right;
  height: 5vh;
  width: calc(100% - 2px);
  transition: height 0.5s;
  border: 1px solid #363636;
  overflow: hidden; }
  section.visible {
    transition: height 0.5s;
    height: 89vh; }
    section.visible .title {
      width: 30vh;
      opacity: 0.85; }
    section.visible .content-container {
      transition: all 0.25s;
      opacity: 1;
      margin-top: -1vh; }
    section.visible .option {
      transition: opacity 0.5s;
      opacity: 1; }
  section .title {
    display: inline-block;
    width: 25vh;
    height: 3.5vh;
    font-size: 3.5vh;
    color: #000;
    padding: 0.75vh;
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #363636;
    border-bottom: 1px solid #363636;
    opacity: 0.5; }
  section .option {
    opacity: 0;
    display: inline-block;
    color: #fff; }
  section .content-container {
    opacity: 0;
    transition: all 0.5s;
    width: 100%;
    margin-top: -100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    section .content-container .content {
      width: 17vw; }
      section .content-container .content img {
        width: 15vw;
        max-width: 175px;
        cursor: pointer;
        display: block;
        margin: 15px auto;
        border: 1px solid #363636;
        box-shadow: 0 0 5px #363636; }
        section .content-container .content img:hover {
          transition: transform 0.25s;
          transform: scale(1.25); }
  section .additional {
    height: 30px;
    width: 100%; }

.section1 {
  background: #a8a7a7;
  background-image: url("../_img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .section1:not(.visible):hover {
    cursor: pointer; }

.section4 {
  background: #8f8d8d;
  background-image: url("../_img/top-100.jpg");
  background-size: cover;
  background-position: bottom; }
  .section4.visible {
    overflow-y: scroll; }
  .section4:not(.visible):hover {
    cursor: pointer; }

@keyframes entranceWelcome {
  from {
    right: -100vw; }
  to {
    right: -1.5vh; } }

@keyframes exit {
  from {
    right: -1.5vh; }
  to {
    right: -100vw; } }

@keyframes entranceNavigation {
  0% {
    top: -100vh; }
  33% {
    top: -100vh; }
  100% {
    top: 10vh; } }

@keyframes entranceOpacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.section1.visible .welcome {
  transition: transform 1s;
  -webkit-transform: translateX(-99.5vw);
  transform: translateX(-99.5vw);
  will-change: transform; }

.section1.visible .navigation {
  animation: entranceNavigation 1s forwards; }

.section1.visible .container {
  display: flex;
  opacity: 0.95; }

.section1 .welcomeWrapper {
  height: 30vh; }

.section1 .welcome {
  position: relative;
  top: 1.5vh;
  right: -100vw;
  width: 400px;
  padding: 2.5vh;
  font-size: 7.5vh;
  font-weight: lighter;
  color: #fff;
  background: black;
  border: 2px solid #a8a7a7;
  border-radius: 15px;
  opacity: 0.65;
  transition: all 0.5s; }
  .section1 .welcome:hover {
    opacity: 0.85; }
  .section1 .welcome:after {
    content: '';
    width: 0;
    border-top: 2vw solid #a8a7a7;
    border-right: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-left: 2vw solid transparent;
    display: block;
    position: absolute;
    bottom: -4vw;
    right: 5vw; }
  .section1 .welcome .user-name {
    position: relative;
    top: 1vh;
    font-weight: bold; }
  .section1 .welcome #editUserName {
    position: relative;
    top: 1vh;
    background: #fff;
    font-size: 6.5vh;
    font-weight: bold;
    padding: 0.5vh;
    width: 250px;
    color: #000;
    border: none;
    border-radius: 10px; }
    .section1 .welcome #editUserName:focus {
      outline: 0; }
  .section1 .welcome #editUserPrompt {
    position: relative;
    height: 2.5vh;
    width: 250px;
    padding: 1.25vh 2.5vh;
    margin-bottom: -7.75vh;
    font-size: 2.25vh;
    color: #fff;
    margin-top: 2.75vh;
    background: maroon;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.95; }

.section1 .user-img {
  height: 15vh;
  margin-bottom: -15vh;
  float: right; }

.section1 .navigation {
  position: relative;
  left: -1vw;
  top: 10vh;
  float: right; }
  .section1 .navigation .menu {
    margin-top: 4vh; }
    .section1 .navigation .menu .menu-item {
      width: 200px;
      height: 3.5vh;
      padding: 1.5vh;
      margin-bottom: 1vh;
      background: #000;
      border: 1px solid #fff;
      border-radius: 10px;
      opacity: 0.65; }
      .section1 .navigation .menu .menu-item:hover {
        cursor: pointer;
        background: #fff;
        opacity: 0.75; }
        .section1 .navigation .menu .menu-item:hover a {
          color: #000; }
      .section1 .navigation .menu .menu-item a {
        position: absolute;
        text-decoration: none;
        font-size: 3.5vh;
        color: #fff; }

.section1 .container {
  animation: entranceWelcome 0.75s;
  position: fixed;
  top: 5.5vh;
  width: calc(100% - 2px);
  height: 83.6vh;
  background: #000;
  color: #fff;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-right: 1px solid #363636;
  transition: all 0.5s;
  opacity: 0;
  overflow-x: scroll; }
  .section1 .container.close {
    animation: exit 0.75s; }
  .section1 .container.addmoviecontainer, .section1 .container.editprofilecontainer {
    justify-content: center;
    overflow-x: hidden; }
  .section1 .container .mymovies {
    width: 220px;
    height: 300px;
    padding: 15px; }
    .section1 .container .mymovies p {
      font-size: 28px;
      text-align: center; }
    .section1 .container .mymovies img {
      width: 200px;
      height: 300px;
      margin: 10px;
      cursor: pointer;
      display: block;
      margin: 15px auto;
      border: 1px solid #363636;
      box-shadow: 0 0 5px #363636; }
      .section1 .container .mymovies img:hover {
        transition: transform 0.15s;
        z-index: 10;
        transform: scale(1.1); }
  .section1 .container .addmovie,
  .section1 .container .editprofile {
    width: 75vw;
    height: 65vh;
    padding: 15px;
    background: #000;
    border-radius: 25px;
    opacity: 0.85; }
    .section1 .container .addmovie form,
    .section1 .container .editprofile form {
      height: 60vh;
      margin: 2.5vh; }
      .section1 .container .addmovie form fieldset,
      .section1 .container .editprofile form fieldset {
        height: 60vh;
        background: #fff;
        border: 1px solid #474747; }
        .section1 .container .addmovie form fieldset legend,
        .section1 .container .editprofile form fieldset legend {
          margin-left: 15px;
          width: 30vh;
          padding: 0.75vh;
          font-size: 3.5vh;
          color: #000;
          background: #fff;
          border: 1px solid #474747;
          border-radius: 1px;
          border-radius: 10px; }
        .section1 .container .addmovie form fieldset div.fieldsetwrapper,
        .section1 .container .editprofile form fieldset div.fieldsetwrapper {
          position: absolute;
          height: 55vh;
          width: 30vw;
          min-width: 250px;
          display: inline-flex;
          flex-direction: column;
          justify-content: space-around;
          margin-left: 15px;
          margin-right: 0; }
          .section1 .container .addmovie form fieldset div.fieldsetwrapper label,
          .section1 .container .editprofile form fieldset div.fieldsetwrapper label {
            display: block;
            padding-bottom: 5px;
            height: 12px;
            font-size: 12px;
            line-height: 12px;
            margin-bottom: -3px;
            color: #000; }
          .section1 .container .addmovie form fieldset div.fieldsetwrapper div.inputwrapper,
          .section1 .container .editprofile form fieldset div.fieldsetwrapper div.inputwrapper {
            display: flex;
            flex-direction: column; }
          .section1 .container .addmovie form fieldset div.fieldsetwrapper input,
          .section1 .container .addmovie form fieldset div.fieldsetwrapper textarea,
          .section1 .container .editprofile form fieldset div.fieldsetwrapper input,
          .section1 .container .editprofile form fieldset div.fieldsetwrapper textarea {
            width: 25vw;
            min-width: 175px;
            max-width: 250px;
            border: 1px solid #363636;
            border-radius: 1px;
            padding: 5px 10px;
            box-shadow: none; }
            .section1 .container .addmovie form fieldset div.fieldsetwrapper input:focus,
            .section1 .container .addmovie form fieldset div.fieldsetwrapper textarea:focus,
            .section1 .container .editprofile form fieldset div.fieldsetwrapper input:focus,
            .section1 .container .editprofile form fieldset div.fieldsetwrapper textarea:focus {
              outline-color: transparent; }
          .section1 .container .addmovie form fieldset div.fieldsetwrapper textarea,
          .section1 .container .editprofile form fieldset div.fieldsetwrapper textarea {
            max-height: 10vh; }
          .section1 .container .addmovie form fieldset div.fieldsetwrapper input[type=text],
          .section1 .container .editprofile form fieldset div.fieldsetwrapper input[type=text] {
            color: #000; }
          .section1 .container .addmovie form fieldset div.fieldsetwrapper input[type=file],
          .section1 .container .editprofile form fieldset div.fieldsetwrapper input[type=file] {
            color: #000; }
          .section1 .container .addmovie form fieldset div.fieldsetwrapper input[type=submit],
          .section1 .container .editprofile form fieldset div.fieldsetwrapper input[type=submit] {
            width: calc(25vw + 20px);
            min-width: 195px;
            max-width: 270px;
            padding: 7.5px 10px;
            background: #000;
            box-shadow: 0 0 1px #000;
            color: #fff;
            cursor: pointer; }
            .section1 .container .addmovie form fieldset div.fieldsetwrapper input[type=submit]:hover,
            .section1 .container .editprofile form fieldset div.fieldsetwrapper input[type=submit]:hover {
              transition: all 0.15s;
              background: #003300;
              box-shadow: 0 0 5px #000; }
        .section1 .container .addmovie form fieldset .uploadPreviewWrapper,
        .section1 .container .editprofile form fieldset .uploadPreviewWrapper {
          position: relative;
          left: 35vw;
          display: inline-flex;
          flex-direction: column;
          justify-content: space-around;
          height: 55vh;
          width: 30vw; }
          @media all and (max-width: 700px) {
            .section1 .container .addmovie form fieldset .uploadPreviewWrapper,
            .section1 .container .editprofile form fieldset .uploadPreviewWrapper {
              display: none; } }
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .addmovieauthor,
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .addmoviedescription,
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .addmovieimage,
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .addmovietitle,
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .editprofileimagep,
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .editprofilename,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .addmovieauthor,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .addmoviedescription,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .addmovieimage,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .addmovietitle,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .editprofileimagep,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .editprofilename {
            display: block;
            height: 3vh;
            font-size: 2.5vh;
            line-height: 2vh;
            color: #000; }
            .section1 .container .addmovie form fieldset .uploadPreviewWrapper .addmovieauthor span,
            .section1 .container .addmovie form fieldset .uploadPreviewWrapper .addmoviedescription span,
            .section1 .container .addmovie form fieldset .uploadPreviewWrapper .addmovieimage span,
            .section1 .container .addmovie form fieldset .uploadPreviewWrapper .addmovietitle span,
            .section1 .container .addmovie form fieldset .uploadPreviewWrapper .editprofileimagep span,
            .section1 .container .addmovie form fieldset .uploadPreviewWrapper .editprofilename span,
            .section1 .container .editprofile form fieldset .uploadPreviewWrapper .addmovieauthor span,
            .section1 .container .editprofile form fieldset .uploadPreviewWrapper .addmoviedescription span,
            .section1 .container .editprofile form fieldset .uploadPreviewWrapper .addmovieimage span,
            .section1 .container .editprofile form fieldset .uploadPreviewWrapper .addmovietitle span,
            .section1 .container .editprofile form fieldset .uploadPreviewWrapper .editprofileimagep span,
            .section1 .container .editprofile form fieldset .uploadPreviewWrapper .editprofilename span {
              font-size: 1.9vh;
              font-color: #363636; }
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .addmovietitle,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .addmovietitle {
            margin-top: 10px; }
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .addmoviedescription,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .addmoviedescription {
            height: 8vh;
            word-wrap: break-word;
            overflow: hidden; }
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .addmovieimagep,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .addmovieimagep {
            margin-bottom: -1.5vh; }
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .editprofileimagep,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .editprofileimagep {
            margin-bottom: -8vh; }
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .uploadImageWrapper,
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .uploadImageWrapperEditProfile,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .uploadImageWrapper,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .uploadImageWrapperEditProfile {
            display: block;
            height: 30vh;
            margin-bottom: 10px; }
            .section1 .container .addmovie form fieldset .uploadPreviewWrapper .uploadImageWrapper .editprofileimage,
            .section1 .container .addmovie form fieldset .uploadPreviewWrapper .uploadImageWrapper .userUploadImage,
            .section1 .container .addmovie form fieldset .uploadPreviewWrapper .uploadImageWrapperEditProfile .editprofileimage,
            .section1 .container .addmovie form fieldset .uploadPreviewWrapper .uploadImageWrapperEditProfile .userUploadImage,
            .section1 .container .editprofile form fieldset .uploadPreviewWrapper .uploadImageWrapper .editprofileimage,
            .section1 .container .editprofile form fieldset .uploadPreviewWrapper .uploadImageWrapper .userUploadImage,
            .section1 .container .editprofile form fieldset .uploadPreviewWrapper .uploadImageWrapperEditProfile .editprofileimage,
            .section1 .container .editprofile form fieldset .uploadPreviewWrapper .uploadImageWrapperEditProfile .userUploadImage {
              display: block;
              max-height: 30vh;
              box-shadow: 0 0 5px #000; }
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .uploadImageWrapperEditProfile,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .uploadImageWrapperEditProfile {
            height: 35vh; }
            .section1 .container .addmovie form fieldset .uploadPreviewWrapper .uploadImageWrapperEditProfile .editprofileimage,
            .section1 .container .editprofile form fieldset .uploadPreviewWrapper .uploadImageWrapperEditProfile .editprofileimage {
              max-height: 35vh; }
          .section1 .container .addmovie form fieldset .uploadPreviewWrapper .editprofilename,
          .section1 .container .editprofile form fieldset .uploadPreviewWrapper .editprofilename {
            margin-bottom: -5vh; }
        .section1 .container .addmovie form fieldset .uploadstatus,
        .section1 .container .editprofile form fieldset .uploadstatus {
          position: fixed;
          top: 35vh;
          left: 30vw;
          height: 30vh;
          width: 40vw;
          border: 1px solid #000;
          border-radius: 10px;
          box-shadow: 0 0 5px black;
          display: none;
          flex-direction: column;
          justify-content: space-around;
          align-items: center; }
          .section1 .container .addmovie form fieldset .uploadstatus.success,
          .section1 .container .editprofile form fieldset .uploadstatus.success {
            display: flex;
            background: #003300;
            animation: entranceOpacity 1s forwards; }
          .section1 .container .addmovie form fieldset .uploadstatus.failure,
          .section1 .container .editprofile form fieldset .uploadstatus.failure {
            display: flex;
            background: #330000;
            animation: entranceOpacity 1s forwards; }
          .section1 .container .addmovie form fieldset .uploadstatus p,
          .section1 .container .editprofile form fieldset .uploadstatus p {
            display: block;
            padding: 15px;
            text-align: center;
            font-size: 2.5vh;
            color: #fff; }
          .section1 .container .addmovie form fieldset .uploadstatus #uploadstatusclose,
          .section1 .container .addmovie form fieldset .uploadstatus #uploadstatuscloseEditProfile,
          .section1 .container .editprofile form fieldset .uploadstatus #uploadstatusclose,
          .section1 .container .editprofile form fieldset .uploadstatus #uploadstatuscloseEditProfile {
            display: block;
            padding: 10px 30px;
            border: 1px solid black;
            border-radius: 10px;
            background: #fff;
            color: #000; }
            .section1 .container .addmovie form fieldset .uploadstatus #uploadstatusclose:hover,
            .section1 .container .addmovie form fieldset .uploadstatus #uploadstatuscloseEditProfile:hover,
            .section1 .container .editprofile form fieldset .uploadstatus #uploadstatusclose:hover,
            .section1 .container .editprofile form fieldset .uploadstatus #uploadstatuscloseEditProfile:hover {
              cursor: pointer;
              box-shadow: 0 0 5px #000; }
  .section1 .container .close {
    position: fixed;
    top: 10vh;
    right: 5vh;
    font-size: 5vh;
    font-weight: bold;
    color: #fff;
    cursor: pointer; }

.section5 {
  background: #757474;
  background-image: url("../_img/baza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .section5.visible {
    overflow-y: scroll; }
  .section5:not(.visible):hover {
    cursor: pointer; }
  .section5 .content-container {
    opacity: 0;
    transition: all 0.5s;
    width: 99%;
    margin-top: -100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .section5 .content-container .content {
      width: 16vw;
      min-width: 100px;
      max-width: 175px; }
      .section5 .content-container .content img {
        width: 15vw;
        min-width: 90px;
        max-width: 165px;
        cursor: pointer;
        display: block;
        margin: 15px auto 0;
        border: 1px solid #363636;
        box-shadow: 0 0 5px #363636; }
        .section5 .content-container .content img:hover {
          transition: transform 0.25s;
          transform: scale(1.15); }

body {
  background: #757474;
  font-family: 'Roboto', sans-serif; }
  body.inactive {
    pointer-events: none; }
    body.inactive .uploadstatus {
      pointer-events: all; }

div::-webkit-scrollbar,
section::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 7px;
  height: 7px; }

,
div::-webkit-scrollbar-track,
section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 7px #fff;
  border-radius: 7px; }

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 7px #000; }

div::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 2px solid #a8a7a7;
  outline: 1px solid #fff;
  border-radius: 7px; }

textarea::-webkit-scrollbar-thumb {
  background-color: #474747;
  border-radius: 7px;
  outline-color: #474747; }
