.section5 {
  background: #757474;
  background-image: url("../_img/baza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .section5.visible {
    overflow-y: scroll; }
  .section5:not(.visible):hover {
    cursor: pointer; }
  .section5 .content-container {
    opacity: 0;
    transition: all 0.5s;
    width: 99%;
    margin-top: -100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .section5 .content-container .content {
      width: 16vw;
      min-width: 100px;
      max-width: 175px; }
      .section5 .content-container .content img {
        width: 15vw;
        min-width: 90px;
        max-width: 165px;
        cursor: pointer;
        display: block;
        margin: 15px auto 0;
        border: 1px solid #363636;
        box-shadow: 0 0 5px #363636; }
        .section5 .content-container .content img:hover {
          transition: transform 0.25s;
          transform: scale(1.15); }
