section {
  display: inline-block;
  float: right;
  height: 5vh;
  width: calc(100% - 2px);
  transition: height 0.5s;
  border: 1px solid #363636;
  overflow: hidden; }
  section.visible {
    transition: height 0.5s;
    height: 89vh; }
    section.visible .title {
      width: 30vh;
      opacity: 0.85; }
    section.visible .content-container {
      transition: all 0.25s;
      opacity: 1;
      margin-top: -1vh; }
    section.visible .option {
      transition: opacity 0.5s;
      opacity: 1; }
  section .title {
    display: inline-block;
    width: 25vh;
    height: 3.5vh;
    font-size: 3.5vh;
    color: #000;
    padding: 0.75vh;
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #363636;
    border-bottom: 1px solid #363636;
    opacity: 0.5; }
  section .option {
    opacity: 0;
    display: inline-block;
    color: #fff; }
  section .content-container {
    opacity: 0;
    transition: all 0.5s;
    width: 100%;
    margin-top: -100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    section .content-container .content {
      width: 17vw; }
      section .content-container .content img {
        width: 15vw;
        max-width: 175px;
        cursor: pointer;
        display: block;
        margin: 15px auto;
        border: 1px solid #363636;
        box-shadow: 0 0 5px #363636; }
        section .content-container .content img:hover {
          transition: transform 0.25s;
          transform: scale(1.25); }
  section .additional {
    height: 30px;
    width: 100%; }

.section1 {
  background: #a8a7a7;
  background-image: url("../_img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .section1:not(.visible):hover {
    cursor: pointer; }

.section4 {
  background: #8f8d8d;
  background-image: url("../_img/top-100.jpg");
  background-size: cover;
  background-position: bottom; }
  .section4.visible {
    overflow-y: scroll; }
  .section4:not(.visible):hover {
    cursor: pointer; }
