@import 'reset.scss';
@import 'mixins.scss';
@import 'section.scss';
@import 'section1.scss';
@import 'section5.scss';

body {
    background: darken($grey1, 20%);
    font-family: 'Roboto', sans-serif;
    &.inactive {
        pointer-events: none;
        .uploadstatus {
          pointer-events: all;
        }
    }
}
div::-webkit-scrollbar,
section::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
,
div::-webkit-scrollbar-track,
section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px #fff;
    border-radius: 7px;
}
textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px #000;
}
div::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb {
    background-color: #fff;
    border: 2px solid $grey1;
    outline: 1px solid #fff;
    border-radius: 7px;
}
textarea::-webkit-scrollbar-thumb {
    background-color: $grey2;
    border-radius: 7px;
    outline-color: $grey2;
}
