@import 'mixins.scss';
section {
    display: inline-block;
    float: right;
    height: 5vh;
    width: calc(100% - 2px);
    transition: height 0.5s;
    border: 1px solid $grey3;
    overflow: hidden;
    &.visible {
        transition: height 0.5s;
        height: 89vh;
        .title {
            width: 30vh;
            opacity: 0.85;
        }
        .content-container {
            transition: all 0.25s;
            opacity: 1;
            margin-top: -1vh;
        }
        .option {
            transition: opacity 0.5s;
            opacity: 1;
        }
    }
    .title {
        display: inline-block;
        width: 25vh;
        height: 3.5vh;
        font-size: 3.5vh;
        color: #000;
        padding: 0.75vh;
        background: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-right: 1px solid $grey3;
        border-bottom: 1px solid $grey3;
        opacity: 0.5;
    }
    .option {
        opacity: 0;
        display: inline-block;
        color: #fff;
    }
    .content-container {
        opacity: 0;
        transition: all 0.5s;
        width: 100%;
        margin-top: -100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .content {
            width: 17vw;
            img {
                width: 15vw;
                max-width: 175px;
                cursor: pointer;
                display: block;
                margin: 15px auto;
                border: 1px solid $grey3;
                box-shadow: 0 0 5px $grey3;
                &:hover {
                    transition: transform 0.25s;
                    transform: scale(1.25);
                }
            }
        }
    }
    .additional {
        height: 30px;
        width: 100%;
    }
}
.section1 {
    background: $grey1;
    //box-shadow: 0 0 5px $grey3;
    background-image: url('../_img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:not(.visible) {
        &:hover {
            cursor: pointer;
        }
    }
}
.section4 {
    background: darken($grey1, 10%);
    //box-shadow: 0 0 5px $grey3;
    background-image: url('../_img/top-100.jpg');
    background-size: cover;
    background-position: bottom;
    &.visible {
        overflow-y: scroll;
    }
    &:not(.visible) {
        &:hover {
            cursor: pointer;
        }
    }
}
