@import 'mixins.scss';

.section5 {
    background: darken($grey1, 20%);
    //box-shadow: 0 0 5px $grey3;
    background-image: url('../_img/baza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &.visible {
        overflow-y: scroll;
    }
    &:not(.visible) {
        &:hover {
            cursor: pointer;
        }
    }
    .content-container {
        opacity: 0;
        transition: all 0.5s;
        width: 99%;
        margin-top: -100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .content {
            width: 16vw;
            min-width: 100px;
            max-width: 175px;
            img {
                width: 15vw;
                min-width: 90px;
                max-width: 165px;
                cursor: pointer;
                display: block;
                margin: 15px auto 0;
                border: 1px solid $grey3;
                box-shadow: 0 0 5px $grey3;
                &:hover {
                    transition: transform 0.25s;
                    transform: scale(1.15);
                }
            }
        }
    }
}
