@import 'mixins.scss';
@keyframes entranceWelcome {
    from {
        right: -100vw;
    }
    to {
        right: -1.5vh;
    }
}
@keyframes exit {
    from {
        right: -1.5vh;
    }
    to {
        right: -100vw;
    }
}
@keyframes entranceNavigation {
    0% {
        top: -100vh;
    }
    33% {
        top: -100vh;
    }
    100% {
        top: 10vh;
    }
}
@keyframes entranceOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.section1 {
    &.visible {
        .welcome {
            transition: transform 1s;
            -webkit-transform: translateX(-99.5vw);
            transform: translateX(-99.5vw);
            will-change: transform;
        }
        .navigation {
            animation: entranceNavigation 1s forwards;
        }
        .container {
            display: flex;
            opacity: 0.95;
        }
    }
    .welcomeWrapper {
        height: 30vh;
    }
    .welcome {
        position: relative;
        top: 1.5vh;
        right: -100vw;
        width: 400px;
        padding: 2.5vh;
        font-size: 7.5vh;
        font-weight: lighter;
        color: #fff;
        background: black;
        border: 2px solid $grey1;
        border-radius: 15px;
        opacity: 0.65;
        transition: all 0.5s;
        &:hover {
            opacity: 0.85;
        }
        &:after {
            content: '';
            width: 0;
            border-top: 2vw solid $grey1;
            border-right: 2vw solid transparent;
            border-bottom: 2vw solid transparent;
            border-left: 2vw solid transparent;
            display: block;
            position: absolute;
            bottom: -4vw;
            right: 5vw;
        }
        .user-name {
            position: relative;
            top: 1vh;
            font-weight: bold;
        }
        #editUserName {
            position: relative;
            top: 1vh;
            background: #fff;
            font-size: 6.5vh;
            font-weight: bold;
            padding: 0.5vh;
            width: 250px;
            color: #000;
            border: none;
            border-radius: 10px;
            &:focus {
                outline: 0;
            }
        }
        #editUserPrompt {
            position: relative;
            height: 2.5vh;
            width: 250px;
            padding: 1.25vh 2.5vh;
            margin-bottom: -7.75vh;
            font-size: 2.25vh;
            color: #fff;
            margin-top: 2.75vh;
            background: darken(#f00, 25%);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            opacity: 0.95;
        }
    }
    .user-img {
        height: 15vh;
        margin-bottom: -15vh;
        float: right;
    }
    .navigation {
        position: relative;
        left: -1vw;
        top: 10vh;
        float: right;
        .menu {
            margin-top: 4vh;
            .menu-item {
                width: 200px;
                height: 3.5vh;
                padding: 1.5vh;
                margin-bottom: 1vh;
                background: #000;
                border: 1px solid #fff;
                border-radius: 10px;
                opacity: 0.65;
                &:hover {
                    cursor: pointer;
                    background: #fff;
                    opacity: 0.75;
                    a {
                        color: #000;
                    }
                }
                a {
                    position: absolute;
                    text-decoration: none;
                    font-size: 3.5vh;
                    color: #fff;
                }
            }
        }
    }
    .container {
        animation: entranceWelcome 0.75s;
        position: fixed;
        top: 5.5vh;
        width: calc(100% - 2px);
        height: 83.6vh;
        background: #000;
        color: #fff;
        display: none; //flex in visible
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        border-right: 1px solid $grey3;
        transition: all 0.5s;
        opacity: 0;
        overflow-x: scroll;
        &.close {
            animation: exit 0.75s;
        }
        &.addmoviecontainer,
        &.editprofilecontainer {
            justify-content: center;
            overflow-x: hidden;
        }
        .mymovies {
            width: 220px;
            height: 300px;
            padding: 15px;
            p {
                font-size: 28px;
                text-align: center;
            }
            img {
                width: 200px;
                height: 300px;
                margin: 10px;
                cursor: pointer;
                display: block;
                margin: 15px auto;
                border: 1px solid $grey3;
                box-shadow: 0 0 5px $grey3;
                &:hover {
                    transition: transform 0.15s;
                    z-index: 10;
                    transform: scale(1.1);
                }
            }
        }
        .addmovie,
        .editprofile {
            width: 75vw;
            height: 65vh;
            padding: 15px;
            background: #000;
            border-radius: 25px;
            opacity: 0.85;
            form {
                height: 60vh;
                margin: 2.5vh;
                fieldset {
                    height: 60vh;
                    background: #fff;
                    border: 1px solid $grey2;
                    legend {
                        margin-left: 15px;
                        width: 30vh;
                        padding: 0.75vh;
                        font-size: 3.5vh;
                        color: #000;
                        background: #fff;
                        border: 1px solid $grey2;
                        border-radius: 1px;
                        border-radius: 10px;
                    }
                    div.fieldsetwrapper {
                        position: absolute;
                        height: 55vh;
                        width: 30vw;
                        min-width: 250px;
                        display: inline-flex;
                        flex-direction: column;
                        justify-content: space-around;
                        //align-items: center;
                        margin-left: 15px;
                        margin-right: 0;
                        label {
                            display: block;
                            padding-bottom: 5px;
                            height: 12px;
                            font-size: 12px;
                            line-height: 12px;
                            margin-bottom: -3px;
                            color: #000;
                        }
                        div.inputwrapper {
                            display: flex;
                            flex-direction: column;
                        }
                        input,
                        textarea {
                            width: 25vw;
                            min-width: 175px;
                            max-width: 250px;
                            border: 1px solid $grey3;
                            border-radius: 1px;
                            padding: 5px 10px;
                            box-shadow: none;
                            &:focus {
                                outline-color: transparent;
                            }
                        }
                        textarea {
                            max-height: 10vh;
                        }
                        input[type=text] {
                            color: #000;
                        }
                        input[type=file] {
                            color: #000;
                        }
                        input[type=submit] {
                            width: calc(25vw + 20px);
                            min-width: 195px;
                            max-width: 270px;
                            padding: 7.5px 10px;
                            background: #000;
                            box-shadow: 0 0 1px #000;
                            color: #fff;
                            cursor: pointer;
                            &:hover {
                                transition: all 0.15s;
                                background: darken(#0f0, 40%);
                                box-shadow: 0 0 5px #000;
                            }
                        }
                    }
                    .uploadPreviewWrapper {
                        position: relative;
                        left: 35vw;
                        display: inline-flex;
                        flex-direction: column;
                        justify-content: space-around;
                        height: 55vh;
                        width: 30vw;
                        @media all and (max-width: 700px) {
                            display: none;
                        }
                        .addmovieauthor,
                        .addmoviedescription,
                        .addmovieimage,
                        .addmovietitle,
                        .editprofileimagep,
                        .editprofilename {
                            display: block;
                            height: 3vh;
                            font-size: 2.5vh;
                            line-height: 2vh;
                            color: #000;
                            span {
                                font-size: 1.9vh;
                                font-color: $grey3;
                            }
                        }
                        .addmovietitle {
                            margin-top: 10px;
                        }
                        .addmoviedescription {
                            height: 8vh;
                            word-wrap: break-word;
                            overflow: hidden;
                        }
                        .addmovieimagep {
                            margin-bottom: -1.5vh;
                        }
                        .editprofileimagep {
                            margin-bottom: -8vh;
                        }
                        .uploadImageWrapper,
                        .uploadImageWrapperEditProfile {
                            display: block;
                            height: 30vh;
                            //border: 1px solid #000;
                            margin-bottom: 10px;
                            .editprofileimage,
                            .userUploadImage {
                                display: block;
                                max-height: 30vh;
                                box-shadow: 0 0 5px #000;
                            }
                        }
                        .uploadImageWrapperEditProfile {
                            height: 35vh;
                            .editprofileimage {
                                max-height: 35vh;
                            }
                        }
                        .editprofilename {
                            margin-bottom: -5vh;
                        }
                    }
                    .uploadstatus {
                        position: fixed;
                        top: 35vh;
                        left: 30vw;
                        height: 30vh;
                        width: 40vw;
                        border: 1px solid #000;
                        border-radius: 10px;
                        box-shadow: 0 0 5px black;
                        display: none;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        &.success {
                            display: flex;
                            background: darken(#0f0, 40%);
                            animation: entranceOpacity 1s forwards;
                        }
                        &.failure {
                            display: flex;
                            background: darken(#f00, 40%);
                            animation: entranceOpacity 1s forwards;
                        }
                        p {
                            display: block;
                            padding: 15px;
                            text-align: center;
                            font-size: 2.5vh;
                            color: #fff;
                        }
                        #uploadstatusclose,
                        #uploadstatuscloseEditProfile {
                            display: block;
                            padding: 10px 30px;
                            border: 1px solid black;
                            border-radius: 10px;
                            background: #fff;
                            color: #000;
                            &:hover {
                                cursor: pointer;
                                box-shadow: 0 0 5px #000;
                            }
                        }
                    }
                }
            }
        }
        .close {
            position: fixed;
            top: 10vh;
            right: 5vh;
            font-size: 5vh;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
        }
    }
}
