<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="_img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="_css/app.css">
    <script src="_js/angular.js" charset="utf-8"></script>


    <meta charset="utf-8">
    <title>Filmweb</title>
</head>

<body ng-app="filmweb" ng-controller="main-controller as main">
    <section id='mainSection' class='section1 visible'>
        <p class='title'>
            Strona głowna
        </p>
        <div class="welcomeWrapper">

            <!-- WELCOME CONTROLLER -->
            <div class="welcome" ng-controller="welcome-controller as welcome">

                Witaj <img ng-src='{{user.avatar}}' class="user-img" alt="User image" />
                <br><span class="user-name" ng-show="!welcome.editMode" ng-click="welcome.changeUserName()">{{user.name}}!</span>
                <input type="text" id="editUserName" ng-show="welcome.editMode" ng-model="user.name">
                <p id="editUserPrompt" ng-show='welcome.editStatusNotOk'>{{welcome.editPrompt}} </p>

            </div>

        </div>
        <div class="" ng-controller="navigation-controller as navigation">
            <nav class="navigation">
                <ul class="menu" id="menu">
                    <li class="menu-item" ng-click="navigation.openTab('myMovies')"><a href="#">Moje filmy</a></li>
                    <li class="menu-item" ng-click="navigation.openTab('addMovie')"><a href="#">Dodaj film</a></li>
                    <li class="menu-item" ng-click="navigation.openTab('editProfile')"><a href="#">Edytuj profil</a></li>
                    <li class="menu-item" ng-click="navigation.openTab('topTen')"><a href="#">Top 10</a></li>
                    <li class="menu-item" ng-click="navigation.openTab('baseMovies')"><a href="#">Baza filmow</a></li>
                </ul>
            </nav>
            <div class="container" id="mymovies" ng-show="navigation.tabsOpened.myMovies">
                <div class="mymovies" ng-repeat="movie in user.movies">
                    <img ng-src="{{movie.img}}" alt="" />

                </div>
                <span class="close" ng-click="navigation.closeTab('myMovies')">x</span>
            </div>
            <div class="container addmoviecontainer" id="addmovie" ng-show="navigation.tabsOpened.addMovie">
                <div class="addmovie">
                    <form class="" ng-controller="addmovieform-controller as ctrlForm">
                        <fieldset>
                            <legend>Dodaj film</legend>
                            <div class="fieldsetwrapper">
                                <div class="inputwrapper">
                                    <label for="title">Tytuł</label>
                                    <input type="text" name="title" value="" ng-model="ctrlForm.title">
                                </div>
                                <div class="inputwrapper">
                                    <label for="author">Autor</label>
                                    <input type="text" name="author" value="" ng-model="ctrlForm.author">
                                </div>
                                <div class="inputwrapper">
                                    <label for="description">Krotki opis</label>
                                    <textarea name="description" value="" ng-model="ctrlForm.description"></textarea>
                                </div>
                                <div class="inputwrapper">
                                    <label for="image">Zdjęcie poglądowe</label>
                                    <input type="file" id="files" name="image" ng-model="ctrlForm.image">
                                </div>
                                <div class="inputwrappper">
                                    <input type="submit" name="submit" value="Dodaj!" ng-click="ctrlForm.submitForm()">
                                </div>
                            </div>
                            <div class="uploadPreviewWrapper">
                                <p class="addmovietitle">
                                    Tytuł: <span>{{ctrlForm.title}}</span>
                                </p>
                                <p class="addmovieauthor">
                                    Autor: <span>{{ctrlForm.author}}</span>
                                </p>
                                <p class="addmoviedescription">
                                    Opis: <span>{{ctrlForm.description}}</span>
                                </p>
                                <p class="addmovieimage">
                                    Zdjęcie: <span>{{ctrlForm.image}}</span>
                                </p>
                                <div class="uploadImageWrapper">
                                    <img class="userUploadImage" ng-src="{{ctrlForm.imageUrl}}" />
                                </div>

                            </div>
                            <div id="uploadstatusdiv" class="uploadstatus">
                                <p>
                                    {{ctrlForm.uploadstatus}}
                                </p>
                                <span id="uploadstatusclose">Kontunnuj</span>
                            </div>
                        </fieldset>
                    </form>

                </div>
                <span class="close" ng-click="navigation.closeTab('addMovie')">x</span>
            </div>
            <div class="container editprofilecontainer" id="editprofile" ng-show="navigation.tabsOpened.editProfile">

                <div class="editprofile">
                    <form class="" ng-controller="editprofile-controller as edit">
                        <fieldset>
                            <legend>Edytuj profil</legend>
                            <div class="fieldsetwrapper">
                                <div class="inputwrapper">
                                    <label for="title">Nazwa uzytkownika</label>
                                    <input type="text" name="name" value="" ng-model="edit.name">
                                </div>

                                <div class="inputwrapper">
                                    <label for="image">Avatar</label>
                                    <input type="file" id="filesEditProfile" name="image" ng-model="edit.image">
                                </div>
                                <div class="inputwrappper">
                                    <input type="submit" name="submit" value="Dodaj!" ng-click="edit.submitForm()">
                                </div>
                            </div>
                            <div class="uploadPreviewWrapper">
                                <p class="editprofilename">
                                    Nazwa uzytkownika: <span>{{edit.name}}</span>
                                </p>
                                <p class="editprofileimagep">
                                    Zdjęcie: <span>{{ctrlForm.image}}</span>
                                </p>
                                <div class="uploadImageWrapperEditProfile">
                                    <img class="editprofileimage" ng-src="{{edit.imageUrl}}" />
                                </div>

                            </div>
                            <div id="uploadstatusdivEditProfile" class="uploadstatus">
                                <p>
                                    {{edit.uploadstatus}}
                                </p>
                                <span id="uploadstatuscloseEditProfile">Kontunnuj</span>
                            </div>
                        </fieldset>
                    </form>

                </div>
                <span class="close" ng-click="navigation.closeTab('editProfile')">x</span>
            </div>
        </div>
    </section>

    <section id="topTenSection" class='section4'>
        <p class='title'>
            Top 10
        </p>

        <div class="content-container">
            <div class="content">
                <!-- <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div> -->
                <img src="_img/example2.jpg" alt="" />
            </div>
            <div class="content">
                <!-- <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div> -->
                <img src="_img/example5.jpg" alt="" />
            </div>
            <div class="content">
                <!-- <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div> -->
                <img src="_img/example3.jpg" alt="" />
            </div>
            <div class="content">
                <!-- <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div> -->
                <img src="_img/example.jpg" alt="" />
            </div>
            <div class="content">
                <!-- <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div> -->
                <img src="_img/example4.jpg" alt="" />
            </div>
            <div class="content">
                <!-- <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div> -->
                <img src="_img/example.jpg" alt="" />
            </div>
            <div class="content">
                <!-- <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div> -->
                <img src="_img/example4.jpg" alt="" />

            </div>
            <div class="content">
                <!-- <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div> -->
                <img src="_img/example2.jpg" alt="" />
            </div>
            <div class="content">
                <!-- <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div> -->
                <img src="_img/example3.jpg" alt="" />
            </div>
            <div class="content">
                <!-- <div class="info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div> -->
                <img src="_img/example.jpg" alt="" />
            </div>


        </div>
        <div class="additional">

        </div>
    </section>
    <section id="baseMoviesSection" class='section5'>
        <p class='title'>
            Baza filmow
        </p>
        <div class="content-container" ng-controller="base-controller as base">
            <div class="content" ng-repeat="movie in baseMovies.movies">
                <img ng-src="{{movie.img}}" alt="" />

            </div>
        </div>
        <div class="additional">

        </div>
    </section>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js">
    </script>
    <script type="text/javascript">
        var sectionListeners = $('section').on('click', function() {
            $('section').removeClass('visible');
            $(this).addClass('visible');
        });
    </script>

    <script src="_js/main-controller.js"></script>
    <script src="_js/welcome-controller.js"></script>
    <script src="_js/navigation-controller.js"></script>
    <script src="_js/file-send-directive.js"></script>
    <script src="_js/addmovieform-controller.js"></script>
    <script src="_js/base-controller.js"></script>
    <script src="_js/editprofile-controller.js"></script>

</body>

</html>
